       .container-fluid
    	{
           background:linear-gradient(45deg ,#010758 , #490d61);
    	}
    	.box
    	{
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		min-height: 100vh;
    		width: 100%;
    	}

    	.content
    	{
    		padding: 30px 40px;
    	}

    	.content h1
    	{
    		text-align: center;
    		color: #fff;
    		margin-top: -30px;
    		margin-bottom: 40px;
    	}

    	.content .text
    	{
    		border:0;
    		outline: 0;
    		box-shadow: none;
    		height: 200px;
    		background-color: #403d84;
    		padding: 20px;
    		color: #fff;
    		resize: none;
    		margin-bottom: 30px;
    	}

    	.content .form-control::placeholder
    	{
    		color: #fff;
    	}

    	.content .item select
    	{
           border:0;
           outline: 0;
           background-color: #403d84;
           color: #fff;
           border-radius: 20px;
           box-shadow: none;
           padding: 0px 25px;
           width: 100%;
           height: 50px;
           display: block;
    	}

    	.content .item .btn
    	{
           border:0;
           outline: 0;
           background-color: #ff2963;
           color: #fff;
           border-radius: 20px;
           box-shadow: none;
           padding: 0px 25px;
           width: 100%;
           font-size: 20px;
           height: 50px;
    	}

    	.content .item .btn i
    	{
          margin-right: 10px;
	}
